<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 	
  <!-- enable the configuration of transactional behavior based on annotations -->
  <tx:annotation-driven transaction-manager="txManager"/>

  <!-- a PlatformTransactionManager is still required -->
  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  <property name="dataSource" ref="dataSource_mysql"/> <!--  靠 和jdbctemplate 竟然分开定义datasource -->
  </bean>

  
  <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
	<property name="driverClassName" value="org.h2.Driver" />
	<property name="url" value="jdbc:h2:mem" />
	<property name="username" value="sa" />
	<property name="password" value="" />
	<property name="initialSize" value="5" />
	<property name="maxActive" value="10" />
 </bean>
 
  <bean id="dataSource_mysql" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://localhost/test" />
	<property name="username" value="sisi" />
	<property name="password" value="sisi" />
	<property name="initialSize" value="5" />
	<property name="maxActive" value="10" />
	<property name="defaultAutoCommit" value="true" />
 </bean>
 
  
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
	  <property name="dataSource" ref="dataSource_mysql" />
  </bean>
  
  <bean id="daoFactory" class="springDB.dao.DAOFactory" >
      <property name="jdbcTemplate" ref="jdbcTemplate"></property>
  </bean>
  
  <bean id="application" class="hello.Application">
      <property name="daoFactory" ref="daoFactory"/>
  </bean>
 
</beans>